COMPOSE_PROJECT_NAME=matterlab

# "docker-compose.yml:docker-compose.prod.yml" for production
# "docker-compose.yml:docker-compose.stage.yml" for stage
# "docker-compose.yml:docker-compose.override.yml" for local with database
# COMPOSE_FILE="docker-compose.yaml:docker-compose.override.yaml"

DEBUG=False
LOCAL=False

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

GITLAB_SECRET="secret-8483a23c-1e1f-44b8-95d4-26381402170a"

MATTERMOST_HOST="https://chat.creonit.dev/"
MATTERMOST_APP_ROOT_URL="https://matterlab.creonit.dev/mattermost"
