COMPOSE_PROJECT_NAME=matterlab

# "docker-compose.yml:docker-compose.prod.yml" for production
# "docker-compose.yml:docker-compose.override.yml" for local with database
# COMPOSE_FILE="docker-compose.yaml:docker-compose.override.yaml"

DEBUG=False
LOCAL=False

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

GITLAB_SECRET="secret"

MATTERMOST_HOST="https://example.com/"
MATTERMOST_APP_ROOT_URL="https://example.com/mattermost"
